body {
  font-family: "Nunito";
}
#navbar {
  display: flex;
  width: 1400px;
  margin: 0 auto;
  margin-top: 29px;
  margin-bottom: 100px;
}
#navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
}
#navbar ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(34, 34, 34, 0.75);
  text-decoration: none;
}
#navbar ul li .active a {
  color: #daa520;
}
#navbar button {
  border: 1px solid #3e3f43;
  border-radius: 8px;
  background-color: Transparent;
  padding: 9px 36px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo figcaption {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.25em;
  color: #3e3f43;
  margin-left: 5px;
}
#rounded-img-bl {
  position: absolute;
  width: 370px;
  height: 800px;
  right: 0;
  top: 0px;
  background: #f9bdbd;
  z-index: -1;
  border-bottom-left-radius: 100px;
}
.big-gray-flower1 {
  margin-top: 180px;
  position: absolute;
  z-index: -1;
}
#intro {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
#intro div span {
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #3e3f43;
}
#intro div h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: #313235;
}
#intro div button {
  background: #daa520;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 14px 24px;
}
#about {
  width: 1100px;
  margin: 0 auto;
}
#about section {
  display: flex;
}
#about header {
  display: flex;
  align-items: center;
}
#about hr {
  background: black;
  width: 43%;
}
#about header div {
  margin-left: 5px;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #3e3f43;
}
#about header h2 {
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  color: rgba(34, 34, 34, 0.1);
}
#about article {
  display: flex;
}
#about article span {
  font-size: 36px;
}
#about article p {
  font-size: 24px;
}
.big-gray-flower2 {
  margin-top: 100px;
  margin-left: -200px;
  position: absolute;
  z-index: -1;
}
.beige-rec {
  position: absolute;
  width: 280px;
  height: 400px;
  top: 940px;
  left: 300px;
  background: #f7dea6;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  z-index: -1;
}
#for-you {
  width: 1100px;
  margin: 0 auto;
}
#for-you span {
  font-size: 36px;
}
#for-you p {
  font-size: 24px;
}
.content {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 850px 500px;
  align-items: center;
}
#how-to-custom {
  width: 1100px;
  margin: 0 auto;
}
#how-to-custom header {
  display: flex;
  align-items: center;
}
#how-to-custom hr {
  background: black;
  width: 20%;
}
#how-to-custom header div {
  margin-left: 5px;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #3e3f43;
}
#how-to-custom header h2 {
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  color: rgba(34, 34, 34, 0.1);
}
.example {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fig-name {
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}
.figure {
  align-self: center;
  justify-self: center;
}
.fig-number {
  color: rgba(249, 189, 189, 0.25);
  font-size: 96px;
  margin-top: -170px;
  margin-left: -45px;
}
#how-to-custom button {
  color: white;
  background: #daa520;
  border: none;
  border-radius: 4px;
  padding: 14px 24px;
  margin: 0 auto;
  margin-top: 50px;
  justify-content: center;
  display: flex;
}
#What-we-have {
  width: 1100px;
  margin: 0 auto;
}
#What-we-have header {
  display: flex;
  align-items: center;
}
#What-we-have hr {
  background: black;
  width: 32%;
}
#What-we-have header div {
  margin-left: 5px;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #3e3f43;
}
#What-we-have header h2 {
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  color: rgba(34, 34, 34, 0.1);
}
.categories {
  margin-left: 120px;
  display: grid;
  grid-template-columns: repeat(3, 280px);
  grid-template-rows: repeat(2, 400px);
  gap: 30px;
}
.categories p {
  font-weight: 800;
  font-size: 24px;
  margin-left: 20px;
}
.categories button {
  border: 1px solid #3e3f43;
  border-radius: 4px;
  background-color: Transparent;
  padding: 8px 19px;
}
.block1 {
  display: grid;
  background: #f9bdbd;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.block1 button {
  width: 123px;
  height: 40px;
  margin-left: 50%;
}
.block2 {
  display: grid;
  background: #f7dea6;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.block2 button {
  width: 123px;
  height: 40px;
  margin-left: 50%;
}
.block3 {
  display: grid;
  background: #a8dcec;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.block3 button {
  width: 123px;
  height: 40px;
  margin-left: 50%;
}
.img2 {
  margin-left: 50px;
}
.img3 {
  margin-left: 50px;
}
.img4 {
  margin-left: 67px;
}
.img5 {
  margin-left: 20px;
}
